/*Encabezado*/
@media screen and (max-width: 767.9px) {
  .offcanvas{
      min-width: 400px;
  }
  .offcanvas-header img{
      margin-left: 45px;
  }

  .offcanvas-body .nav-link {
      color: black;
  }
}

@media screen and (max-width: 560px) {
  body{
      min-width: 300px;
  }
  .contenido-texto {
      padding:40px 60px;
  }
}
@media (max-width: 613px) {
  .logo {
    width: 220px; 
  }
}


@media (max-width: 630px) {
  .footer-logo {
    width: 320px; 
  }
}
/*Carrusel*/

@media screen and (max-width: 842px) {
  .carousel{
      padding: 20px 20px;
    }
}



@media screen and (max-width: 1208px) {
  .titulo {
    font-size: 15px;
  }
}  

@media screen and (max-width: 450px) {
  .texto-carta {
    padding: 15px;
  }

  .titulo {
    font-size: 16px;
  }

  .categoria {
    font-size: 12px;
    padding: 4px 8px;
  }


}





