
@media (max-width: 613px) {
  .logo {
    width: 220px; 
  }
}


 /*Encabezado*/
 @media screen and (max-width: 767.9px) {
  .offcanvas{
      min-width: 400px;
  }
  .offcanvas-header img{
      margin-left: 45px;
  }

  .offcanvas-body .nav-link {
      color: black;
  }
  .dropdown-menu {
    text-align: center;
    max-width: 300px;
    margin: 100px;
 }
}

@media screen and (max-width: 560px) {
  body{
      min-width: 300px;
  }
  .contenido-texto {
      padding:40px 60px;
  }

  
}