body{
  background-color: #f5f5f5;
}
.cabecera {
  background: linear-gradient(to left,  #c6d6ff, #ceffc4);
  background-size: 400% 400%;
  animation: fondo 10s ease infinite;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  position: relative;
}
@keyframes fondo {
  0% {
     background-position: 0% 50%; 
    }
  50% {
     background-position: 100% 50%; 
    }
  100% {
     background-position: 0% 50%; 
    }
}
a{
  color:black;
}
 
.dropdown-menu {
  min-width: auto;
}
 .navbar-toggler{
    background-color: white;
 }
 .offcanvas-body .nav-link {
  color: black;
  font-weight: 500;
}
.offcanvas-body .nav-link.active {
   color: rgb(181, 193, 13);
}

.offcanvas-body .nav-link:hover {
  color: rgb(9, 172, 184)
}
.btn{
 background: rgb(178, 193, 13);
 margin-top: 10px;
 color: rgb(0, 0, 0);
 font-weight: 500;
}
.btn:hover{
  background: rgb(94, 184, 236);
  color: white
}

/*Articulo*/
        
h1 {
  font-size: 1.8rem;
  margin-top: 10px;
}
        

.col-lg-4{
  padding: 10px;
}

.carta {
  position: relative;
  color: white;
  border-radius: 10px;
  height: 100%;
}

.carta .clave {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.texto-carta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.categoria {
  background: rgb(38, 75, 209);
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.titulo {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}


.logito {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 120px;
  background-color: rgba(255, 255, 255); 
  padding: 5px; 
  border-radius: 8px; 
}

.titulo-articulo{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
 
.titular{
  background-color: white;
  padding: 20px;

}
.parrafo-articulo{
    font-size: 20px;
    line-height: 1.6;
    color: #495057;
    font-weight: 500;
}

.imagen-articulo{
  transition: transform 0.3s ease;
  width: 100%;

}
.imagen-articulo:hover {
    transform: scale(1.01);
}



/*Footer*/

.footer {
  padding: 20px;
  background: linear-gradient(to left, #2c6c80, #0a6f0f);
  background-size: 400% 400%;
  animation: fondo 10s ease infinite;
  position: relative;
  color: white;
}
@keyframes fondo {
  0% {
     background-position: 0% 50%; 
    }
  50% {
     background-position: 100% 50%; 
    }
  100% {
     background-position: 0% 50%; 
    }
}

