/*Encabezado*/
.cabecera{
  background-image: url(../img/fondo_comunidad.webp); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.dropdown-menu {
  min-width: auto;
}
.offcanvas-body .nav-link {
   color: white;
   font-weight: 500;
}
.offcanvas-body .nav-link.active {
  color: rgb(221, 195, 92);
}

.offcanvas-body .nav-link:hover {
   color: rgb(134, 108, 70)
}
.btn{
  background: rgba(193, 145, 13, 0.723);
  color: white;
  font-weight: 500;
}
.btn:hover{
  background: rgb(101, 68, 47);
   color: rgb(255, 255, 255);
   
}
.contenido-texto{
  max-width: 1000px;
  padding: 120px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 20px;
}

form{
  color: black;
}





/*Carousel*/

.carousel{
  padding: 50px 50px;

}

 .carousel-item img {
  width: 100%;
  height: 740px; 
  object-fit: cover;
  border-radius: 20px;
}
.carousel-caption {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.219);

  
}

.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  

}
.carousel-caption p {
  font-size: 1.2rem;
  color: white;
  

}
.carousel-indicators [data-bs-target] { /*Con esto cambio los iconos del carrusel de color*/
  background-color: black;
}



/*Mas Noticias*/
.col-lg-4{
  padding: 10px;
}

.carta {
  position: relative;
  color: white;
  border-radius: 10px;
  height: 100%;
}

.carta .clave {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.texto-carta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.categoria {
  background: rgb(105, 90, 57);
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
}

.titulo {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}


.logito {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 120px;
  background-color: rgba(255, 255, 255); 
  padding: 5px; 
  border-radius: 8px; 
}
  
.botones{
  display: flex;
  gap: 15px;
}

.botones_carrusel{
  display: flex;
  gap: 15px;
  justify-content: center;
}
/*Footer*/
footer {
  padding: 20px;
  background: linear-gradient(to left, #3f321d, #20451a);
  background-size: 400% 400%;
  animation: fondo 10s ease infinite;
  position: relative;
  color: white;
}
@keyframes fondo {
  0% {
     background-position: 0% 50%; 
    }
  50% {
     background-position: 100% 50%; 
    }
  100% {
     background-position: 0% 50%; 
    }
}

