@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}


@media (max-width: 613px) {
  .logo {
    width: 220px; 
  }
}

@media (max-width: 630px) {
  .footer-logo {
    width: 320px; 
  }
}
 /*Encabezado*/
 @media screen and (max-width: 767.9px) {
  .offcanvas{
      min-width: 400px;
  }
  .offcanvas-header img{
      margin-left: 45px;
  }

  .offcanvas-body .nav-link {
      color: black;
  }
}

@media screen and (max-width: 560px) {
  body{
      min-width: 300px;
  }
  .contenido-texto {
      padding:40px 60px;
  }

  
}